<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="APITestSuite" parallel="tests">

    <test name="basicApiTest">
        <classes>
            <class name="cucumber.Options.TestRunner"/>
        </classes>
    </test> <!-- Test -->

</suite>
